```{=html}
<ul>
<% for (const item of items) { %>
  <% if (item.show !== false) { %>
    <li>
      <a href="day_<%- item.title %>/index.qmd"><%= item.title %></a>
      <% if (item.complete) { %>
        <span class="stars"><%= '*'.repeat(item.complete) %></span>
      <% } %>
    </li>
  <% } %>
<% } %>

</ul>
```
